<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632505461889-kbjc67jtd44u36fq9pqtpjiruu93mnda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632505461889-kbjc67jtd44u36fq9pqtpjiruu93mnda</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632505461889-gg2o75esfbejqr9fu0kl5jhvbl0atl6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRB0GYb1jndDlvz9YUVPQrJT-YSdfn5E</string>
	<key>GCM_SENDER_ID</key>
	<string>632505461889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>newz-d67a3</string>
	<key>STORAGE_BUCKET</key>
	<string>newz-d67a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632505461889:ios:37bcf2f2a128afe4e3f180</string>
	<key>DATABASE_URL</key>
	<string>https://newz-d67a3.firebaseio.com</string>
</dict>
</plist>